.App {
  text-align: center;
  /* background-color: #000000;
  background-image: url("https://www.transparenttextures.com/patterns/dark-mosaic.png");
  margin: 0;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px; */
  /* background: radial-gradient(ellipse at bottom, #022227 0%, #000 100%); */
  background: radial-gradient(ellipse at bottom, #022227 0%, #000 100%)
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: fixed;
  height: 100vh;
  width: 100vw;
  margin: 0;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  overflow: auto;
  align-items: center;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
}

@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@800&display=swap");
h1 {
  margin: 0;
  font-family: Roboto, Arial;
  font-size: 17vw;
  text-align: left;
  letter-spacing: 1vw;
  position: relative;
  top: 5vh;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  background: url("https://static.vecteezy.com/system/resources/previews/006/329/830/large_2x/abstract-line-like-falling-rain-white-color-background-illustration-photo.jpg");
  background-size: auto 200%;
  background-clip: text;
  /* text-fill-color: transparent; */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white; */
  animation: shine 8s linear infinite;
}
h1:nth-child(2) {
  top: 20vh;
}
@keyframes shine {
  from {
    background-position: center 0;
  }
  to {
    background-position: center 200%;
  }
}
