@import url("https://fonts.googleapis.com/css2?family=Glegoo:wght@400;700&family=Kanit&display=swap");

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey; */
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ff4c29;
  border-radius: 10px;
}

.App {
  /* text-align: center; */
  /* background-color: #000000;
  background-image: url("https://www.transparenttextures.com/patterns/dark-mosaic.png");
  margin: 0;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px; */
  /* background: radial-gradient(ellipse at bottom, #022227 0%, #000 100%); */
  background: radial-gradient(ellipse at bottom, #082032 0%, #000 100%)
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: fixed;
  height: 100vh;
  width: 100vw;
  margin: 0;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  overflow-y: auto;
  overflow-x: hidden;
  /* align-items: center; */
  /* display: flex; */
  /* justify-content: center; */
  /* flex-direction: column; */
  display: grid;
  grid-template-rows: minmax(auto, 70px) auto auto auto auto auto;
  grid-template-columns: auto;
  scroll-behavior: smooth;
}

.head {
  text-align: left;
  color: #ff4c29;
  font-family: "Ubuntu Mono", monospace;
  font-size: 8vh;
  margin: 0;
}

.head-span {
  color: white;
  font-size: 3vh;
  font-family: "Glegoo", serif;
}

.about-header {
  font-family: "Glegoo", serif;
  color: #334756;
  font-size: 2.5vh;
  text-align: left;
  margin: 0;
  margin-right: 10px;
}

.portfolio-header {
  font-family: "Glegoo", serif;
  color: #334756;
  font-size: 2vh;
  text-align: left;
  margin: 0;
  margin-right: 10px;
}

.contact-header {
  font-family: "Glegoo", serif;
  color: #334756;
  font-size: 2vh;
  text-align: left;
  margin: 0;
  margin-right: 10px;
}

.about-grid {
  color: #d4cdcd;
  font-family: "Kanit", sans-serif;
  font-size: 2vh;
  display: grid;
  grid-template-areas:
    "text1  img"
    "text3  img"
    "text2  img"
    "text4  img"
    "text5  img"
    "certifications  certifications"
    "skills  skills";
}

@media only screen and (max-width: 1000px) {
  .about-grid {
    color: #d4cdcd;
    font-family: "Kanit", sans-serif;
    display: grid;
    grid-template-areas:
      "text1"
      "text3"
      "text2"
      "text4"
      "text5"
      "img"
      "certifications"
      "skills";
  }
  .certifications-sec {
    grid-area: "certifications";
    display: grid;
    grid-template-areas:
      "title"
      "img1"
      "img2"
      "img3";
  }
}

.about-grid button {
  color: #fff;
  transition: 0.25s;
}
about-grid button:hover,
about-grid button:focus {
  border-color: var(--hover);
  color: var(--color);
  cursor: default;
}

.raise {
  --color: #ff4c29;
  --hover: #ff4c29;
}

.raise:hover,
.raise:focus {
  /* box-shadow: 0 15px 25px -0.1em var(--hover); */
  color: var(--color);
  transform: translateY(-0.15em);
}
